# dependencies
/node_modules
/.pnp
.pnp.*

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# local env files
.env*
!.env.example

# vercel
.vercel

# supabase
/supabase/.temp/

# typescript
*.tsbuildinfo
next-env.d.ts

# operating systems and editors
.DS_Store
Thumbs.db
.idea/
.vscode/
